#form-container {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.form-field {
   width: 40%;
   margin: 0 auto 10px auto;

   --mat-form-field-outlined-label-text-color: rgba(255, 255, 255, 0.9);
   --mat-form-field-outlined-hover-label-text-color: rgba(255, 255, 255, 0.9);
   --mat-form-field-outlined-focus-label-text-color: rgb(63, 255, 67);

   --mat-form-field-outlined-input-text-color: rgb(255, 255, 255, 0.9);
   --mat-form-field-outlined-input-text-placeholder-color: rgba(255, 255, 255, 0.48);   
   --mat-form-field-outlined-caret-color: rgba(231, 231, 231, 0.9);

   --mat-form-field-outlined-error-label-text-color: rgba(255, 255, 255, 0.9);
   --mat-form-field-outlined-error-hover-label-text-color: rgb(255, 72, 59);
   --mat-form-field-outlined-error-focus-label-text-color: rgb(255, 72, 59);
   --mat-form-field-outlined-error-caret-color: rgba(231, 231, 231, 0.9);
}

.error-message {
   display: inline-flex;
   height: 20px;
   margin: 5px 0;
}

@media screen and (max-width: 1080px) {
   .form-field {
      width: 45%;

      --mat-form-field-container-text-size: 15px;
      --mat-form-field-floating-label-text-size: 50px;
      --mat-form-field-outlined-label-text-populated-size: 16px;
      --mat-form-field-outlined-label-text-size: 16px;
      --mat-form-field-subscript-text-size: 11px;
   }

   mat-label {
      font-size: 15px;
   }
}
