#form-container {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

.form-field {
    width: 600px;
    margin: 0 auto 10px auto;

    --mat-form-field-outlined-label-text-color: rgba(255, 255, 255, 0.9);
    --mat-form-field-outlined-hover-label-text-color: rgba(255, 255, 255, 0.9);
    --mat-form-field-outlined-focus-label-text-color: rgb(63, 255, 67);

    --mat-form-field-outlined-input-text-color: rgb(255, 255, 255, 0.9);
    --mat-form-field-outlined-input-text-placeholder-color: rgba(255, 255, 255, 0.48);   
    --mat-form-field-outlined-caret-color: rgba(231, 231, 231, 0.9);

    --mat-form-field-outlined-error-label-text-color: rgba(255, 255, 255, 0.9);
    --mat-form-field-outlined-error-hover-label-text-color: rgb(255, 72, 59);
    --mat-form-field-outlined-error-focus-label-text-color: rgb(255, 72, 59);
    --mat-form-field-outlined-error-caret-color: rgba(231, 231, 231, 0.9);
}

.error-message {
    display: inline-flex;
    height: 20px;
    margin: 5px 0;
}