@use '@angular/material' as mat;

:host {
   button.mat-mdc-outlined-button,
   a.mat-mdc-outlined-button {
      @include mat.button-overrides((
         outlined-state-layer-color: rgba(140, 140, 140, 0.078),
         outlined-ripple-color: rgba(132, 132, 132, 0.078)
      ));

      background-color: #1b1f1f;
      transition: background-color 0.2s ease-in-out !important;

      &:hover:not(:disabled) {
         background-color: rgba(140, 140, 140, 0.078) !important;
      }
   }
}

.mat-mdc-outlined-button {
   display: flex;
   height: 40px;
   width: 270px;
   margin: 0 auto;
   border-radius: 20px;
   border: 1px solid #0dd110;
   background-color: #1b1f1f;
   color: white;
   font-size: 14px; 
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   transition: background-color 0.2s ease-in-out;
}

.mat-mdc-outlined-button:disabled {
   border-color: rgba(202, 202, 202, 0.2);
   background-color: rgba(46, 46, 46, 0.6);
   color: rgba(235, 235, 235, 0.6);
}

.mat-mdc-outlined-button:not(:disabled) {
   border: 1px solid #0dd110;
   background-color: #1b1f1f;
   color: white;
}

#download-CV-link {
   margin: 30px 10px 10px 0;
}

#contact-button {
   width: 250px;
   border-radius: 4px;
}

@media screen and (max-width: 1560px) {
   #contact-button {
      width: 20%;
   }
}

@media screen and (max-width: 1080px) {
   #download-CV-link {
      margin: 40px auto 0 auto;
   }
}