// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css');

html {
   height: 100%;
   @include mat.theme(
      (
         color: (
         primary: mat.$azure-palette,
         tertiary: mat.$blue-palette,
         ),
         typography: Roboto,
         density: 0,
      )
   );
}

body {
   // Default the application to a light color theme. This can be changed to
   // `dark` to enable the dark color theme, or to `light dark` to defer to the
   // user's system settings.
   color-scheme: light;

   // Set a default background, font and text colors for the application using
   // Angular Material's system-level CSS variables. Learn more about these
   // variables at https://material.angular.dev/guide/system-variables
   background-color: var(--mat-sys-surface);
   // background-color: #1f1f1f !important;
   color: var(--mat-sys-on-surface);
   font: var(--mat-sys-body-medium);

   margin: 0;
   height: 100%;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
   border-color: #0dd110 !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
   border-color: #0dd110 !important;
   // background-color: rgba(27, 27, 27, 0.5) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline__trailing {
   background-color: rgba(36, 36, 36, 0.65) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input { }

.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
.mat-mdc-standard-chip .mat-mdc-chip-action-label {
   cursor: grab !important;
}

.mat-mdc-standard-chip:active,
.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary:active,
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary:active,
.mat-mdc-standard-chip .mat-mdc-chip-action-label:active {
   cursor: grabbing !important;
}

.mat-mdc-standard-chip:focus,
.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary:focus,
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary:focus,
.mat-mdc-standard-chip .mat-mdc-chip-action-label:focus {
   cursor: grabbing !important;
}