// Learn more about theming and how to use it - https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css');

@include mat.core();

$my-light-theme: mat.define-theme((
   color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
   ),
   typography: (
      brand-family: 'Roboto',
   ),
));

:root {
   @include mat.all-component-themes($my-light-theme);

   @include mat.theme-overrides((
      surface: #1b1f1f,
   ));

   // @include mat.divider-overrides((
   //    color: orange,
   // ));
}

html, body {
   margin: 0;
   height: 100%;
   background-color: var(--mat-sys-surface);
   // color: var(--mat-sys-on-surface);
   // font: var(--mat-sys-body-medium);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
   border-color: #0dd110 !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
   border-color: #0dd110 !important;
}

.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border-left: 1px solid transparent !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline__trailing {
   background-color: rgba(36, 36, 36, 0.65) !important;
}

.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary,
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary,
.mat-mdc-standard-chip .mat-mdc-chip-action-label {
   cursor: grab !important;
}

.mat-mdc-standard-chip:active,
.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary:active,
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary:active,
.mat-mdc-standard-chip .mat-mdc-chip-action-label:active {
   cursor: grabbing !important;
}

.mat-mdc-standard-chip:focus,
.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary:focus,
.mat-mdc-standard-chip .mdc-evolution-chip__action--primary:focus,
.mat-mdc-standard-chip .mat-mdc-chip-action-label:focus {
   cursor: grabbing !important;
}

@media screen and (max-width: 1080px) { 
   .mat-mdc-standard-chip .mdc-evolution-chip__text-label {
      font-size: 12px !important;
   }
}